<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body style="font-size: medium; font-family: Arial, cursive;">
    <div>
        If you still want to reset your password. Go to the link displayed below.
    </div>
    <a th:href="${resetPasswordLink}" th:text="${resetPasswordLink}">CLICK IT</a>
    <hr style="width: 50%; text-align: center;">
    <footer>
        <p style="padding-botton: 5px">Message generated automatically, please do not reply to it.</p>
    </footer>
</body>
</html>