<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title id="pageTitle">History panel</title>
    <div th:replace="fragments/basic :: headerFragment"></div>
    <link th:href="@{/css/offcanvas.css}" rel="stylesheet">
</head>

<body class="bg-light">
<th:block th:replace="fragments/dashboard :: sticky_navbar('history')"/>
<main role="main" class="container mt-nav-7">
    <th:block th:if="${#lists.size(linkList)==0}">
        <!--TO - DO -->
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0 text-center">
                You didn't predicted any comments by this app... <a th:href="@{/account/predict}">Change it!</a>
            </h6>
            <div class="mt-3"/>
        </div>
    </th:block>
    <th:block th:unless="${#lists.size(linkList)==0}">
        <div th:each="linkWeb : ${linkList}" th:id="${linkWeb.hexId}">
            <th:block th:replace="fragments/panel_fragments :: singleLink(${linkWeb},false)"/>
        </div>
    </th:block>
</main>
</body>
</html>