<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title id="pageTitle">Forgot password</title>
    <div th:replace="fragments/basic :: headerFragment" ></div>
    <link th:href="@{/css/floating-labels.css}" rel="stylesheet">
</head>

<body>
<th:block th:replace="fragments/dashboard :: sticky_navbar('x')" />
<form class="form-signin mt-5" method="post" th:action="@{/forgot_password}">
    <div class="text-center mb-4">
        <p>Insert your e-mail to reset your password</p>
    </div>
    <div class="form-label-group">
        <th:block th:if="${errorCode}">
            <input type="email" name="username" id="username" class="form-control is-invalid" placeholder="Email address" required="" autofocus="">
            <label for="username">Email address</label>
            <div th:switch="${errorCode}" th:remove="tag">
                <div th:case="${T(bach.project.bean.enums.ErrorCode).WRONG_USERNAME}" class="invalid-feedback">
                    Invalid e-mail format
                </div>
                <div th:case="${T(bach.project.bean.enums.ErrorCode).NOT_ACTIVATED}" class="invalid-feedback">
                    Your account is not activated, check your e-mail or click <a th:if="${userName}" th:href="@{/resend_token?username=__${userName}__}" >Resend activation email</a>.
                </div>
            </div>
        </th:block>
        <th:block th:unless="${errorCode}">
            <input type="email" name="username" id="username" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="username">Email address</label>
        </th:block>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
</body>
</html>