<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title id="pageTitle">Sign In</title>
    <div th:replace="fragments/basic :: headerFragment" ></div>
    <link th:href="@{/css/floating-labels.css}" rel="stylesheet">
</head>

<body>
<th:block th:replace="fragments/dashboard :: sticky_navbar('x')" />
<form class="form-signin mt-5" method="post" th:action="@{/reset_password}" th:object="${form}">
    <div class="form-label-group">
        <div class="mb-3">
            <th:block th:replace="fragments/inputs :: input_bt('password','New password','newPassword1','')" />
        </div>
        <div class="mb-3">
            <th:block th:replace="fragments/inputs :: input_bt('password','Re-enter new password','newPassword2','')" />
        </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit change</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" name="resetPasswordToken" th:value="*{resetPasswordToken}"/>
</form>
</body>
</html>